$primary-color: #DE0D0D;
$secondary-color: #7E0000;

$background-color: #530000;
$text-color: white;

$viewport-padding-horizontal: 4vw;
$viewport-padding-vertical: calc($viewport-padding-horizontal*2);