$primary-color: #FF8080;

$first-place-color: #F2C261;
$second-place-color: #C2F2C2;
$third-place-color: #F2A191;
$fourth-place-color: #C7B8E5;

$background-color: #330000;
$container-color: #420F15;
$card-color: #660022;
$text-color: white;

$viewport-padding-horizontal: 4vw;
$viewport-padding-vertical: 6vh;