@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  line-height: 120%;
  text-align: start;

  margin: 0;
  padding: 0;
  position: relative;

  -webkit-overflow-scrolling: touch;
  transition: all 0.2s ease-in-out;

  user-select: none; // chrome and Opera
  -moz-user-select: none; // Firefox
  -webkit-text-select: none; // IOS Safari
  -webkit-user-select: none; // Safari

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html {
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  background: linear-gradient(135deg, #300a0a 0%, #120101 100%);
  background-color: #1C1725;
  background-size: cover;
}

html,
body {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  overflow-x: hidden;
  position: fixed;

  @media (max-height: 400px) {
    font-size: 4vh;
  }
}

#app,
body {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0;
}

div {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

ul {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  display: inline-block;
}

svg,
path {
  aspect-ratio: 1 / 1;
  display: inline-block;
  height: 1em;
}

span,
p,
h1,
h2,
h3,
h4 {
  color: v.$text-color;
  margin: 0;
  width: fit-content;
  -webkit-font-smoothing: subpixel-antialiased;

  &.accent-primary {
    color: v.$primary-color;
  }
}

.note {
  opacity: 0.6;
}

// Header
h1 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.2;
}

// Heading Text
h4 {
  font-size: 1em;
  font-weight: 300;
}

// Textblock
p,
b,
input {
  font-size: 1em;
  line-height: 1.4;
  font-family:
    /*'Exo 2'*/
    "Lato", sans-serif;
}

a {
  text-decoration: none;
  display: inline;
  color: v.$text-color;
  margin: 0;
}

img,
svg,
path {
  margin: 0;
  padding: 0;
  display: inline-block;

  &.actionable:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

svg {
  aspect-ratio: 1 / 1;
}

/* --- ANIMATION --- */

.fade-enter-active,
.fade-leave-active {
  transition-property: all;
  transition-duration: 0.4s;
}

.fade-enter-active {
  transition-delay: 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(1em);
}